!!!
%html
  %head
    %title= title
    %link{ :rel => "stylesheet", :href => "/css/grid.css" }
  %body
    %ul
      %li
        %a{ :href => "/#{GitWiki.homepage}" } Home
      %li
        %a{ :href => "/pages" } All pages
    #content= yield

